@import "./utils.scss";
// poprawic dla 1280x1024
$primary-color: #15191c;
$hover-color: #55def1;
$text-color: white;
$shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: 0;
}
textarea {
  resize: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Baloo 2", cursive;
}
body {
  min-height: 100vh;
  overflow: visible;
  background: url("../img/img-ly-AK66mYNrbk0-unsplash.jpg") center center/cover
    no-repeat;
}
button,
i {
  transition: 0.5s all;
}
label {
  &:hover {
    color: $hover-color;
    cursor: pointer;
  }
}
//utils
.checked {
  background: black !important;
  box-shadow: $shadow;
  button {
    color: $hover-color !important;
  }
}
.hide {
  display: none !important;
}

nav {
  box-shadow: $shadow;
  display: flex;
  height:7vh;
  justify-content: space-between;
  align-items: center;
  background: $primary-color;
  h1 {
    color: white;
  }
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    li {
     p{
       font-size: 1.1rem;
       color: $text-color;
     }
      a {
        font-weight: bold;
        color: $text-color;
        font-size: 1.2rem;
        &:hover {
          color: $hover-color;
        }
      }
      #signout{
        box-shadow: $shadow;
        font-weight: bold;
        color: $primary-color;
        background: white;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        &:hover {
          background: $hover-color;
        }
      }
    }
  }
 
}
footer{
  position: fixed;
  bottom:0;
  left:0;
  a{
    color: black;

  }
}

.slideIn {
  top: 0 !important;
  animation: slideIn 0.4s ease-in-out;
}
.slideOut {
  animation: slideOut 0.4s ease-in-out;
}

@keyframes slideIn {
  from {
    top: -1500px;
  }
  to {
    top: 0;
  }
}
@keyframes slideOut {
  from {
    top: 0;
  }
  to {
    top: -1500px;
  }
}

#pairpicker {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
  position: absolute;
  z-index: 100;
  top: -1500px;
  width: 100%;
  .pairsmenu {
    position: relative;
    box-shadow: $shadow;
    left: 0;
    background: $primary-color;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    color: $text-color;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    justify-items: center;
    ul {
      list-style-type: none;
      li {
        button {
          box-shadow: $shadow;
          font-weight: bold;
          color: $primary-color;
          background: white;
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 0.25rem;
          cursor: pointer;
          &:hover {
            background: $hover-color;
          }
        }
      }
    }
  }

  .alerts {
    box-shadow: $shadow;
    padding: 5rem;
    color: $text-color;
    background: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .addalert {
      display: flex;
      justify-content: space-evenly;
      input {
        border: none;
        border-radius: 0.25rem;
        margin: 0 1rem;
        padding: 0 0.25rem;
      }
      button {
        box-shadow: $shadow;
        font-weight: bold;
        color: $primary-color;
        background: white;
        padding: 0.5rem 0.75rem;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        display: flex;
        justify-items: center;
        align-items: center;
        &:hover {
          background: $hover-color;
        }
      }
    }
    .radio-container {
      width: 100%;
      margin-left: 40px;
      label,
      input {
        padding: 0.5rem;
      }
    }

    .table {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .row {
        h3,
        p,
        button {
          padding: 0 1rem;
        }
        margin: 0.5rem 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-bottom: 1px solid white;
        button {
          cursor: pointer;
          background: none;
          border: none;
          i {
            font-size: 1.5rem;
            color: white;
            &:hover {
              color: $hover-color;
            }
          }
        }
      }
    }
  }

  .alertsfired {
    box-shadow: $shadow;
    position: relative;
    right: 0;
    background: $primary-color;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: $text-color;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    justify-items: center;
    text-align: center;
    #exit {
      position: absolute;
      top: 10px;
      right: 10px;
      height: 20px;
      width: 20px;
      z-index: 101;
      background: url("../img/icon-remove.svg") no-repeat center center/cover;
      cursor: pointer;
    }
    .labels {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 0.5rem;
      align-items: stretch;
    }
    ul {
      list-style-type: none;
      li {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
// Journal

#container {
  transition: all 0.5s;
  width: 100%;
  // display: flex;
  min-height: 93vh;
form{
  min-height:93vh;
}
  label,
  p {
    font-size: 1.1rem;
  }
  input[type="text"] {
    border-radius: 0.25rem;
    border: 1px solid gray;
    background: $primary-color;
    margin: 2rem;
    padding: 0 0.25rem;
    height: 30px;
    color: white;
    font-size: 1.1rem;
    transition: all 0.3s;
    font-weight: lighter;
    &:focus,
    &:hover {
      border-color: $hover-color;
    }
  }
  #addTradeBtn {
    border: none;
    background: white;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 10%;
    padding: 0.5rem 0;
    box-shadow: $shadow;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    align-self: center;
    &:hover {
      background: $hover-color;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }

    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem 1rem;
    font-weight: bold;
    font-size: 1.1rem;
  }
  .pairsTabs {
    background: rgba(21, 25, 28, 0.9);
    width: 100px;
    min-height: 90vh;

    display: flex;
    ul {
      width: 100%;
      list-style-type: none;
      li {
        &:first-child,
        &:last-child {
          margin: 0;
        }
        background: $primary-color;
        // margin: 0.7rem 0;
        padding: 0.95rem 0.25rem;
        margin: 1rem 0;
        button {
          width: 100%;
          height: 100%;
          border: none;
          color: white;
          background: none;
          font-size: 1.1rem;
          cursor: pointer;
        }
      }
    }
  }
  #addtrade {
    position: relative;
  min-height:93vh;
    
    padding-top: 2rem;
    padding-left: 3rem;
    width: 100%;
    overflow: visible;
    // h1 {
    //   text-align: center;
    // }
    display: flex;
    box-shadow: $shadow;
    color: $text-color;
    background: rgba(21, 25, 28, 0.9);

    .basic {
      margin-right: 3rem;
      display: flex;
      flex-direction: column;
      .row {
        position: relative;
        input {
          border-radius: 0.25rem;
          // border: none;
          border: 1px solid gray;
          background: $primary-color;
          margin: 2rem;
          padding: 0 0.25rem;
          height: 30px;
          width: 209px;
          color: white;
          font-size: 1.1rem;
          transition: all 0.3s;
          font-weight: lighter;
          &:focus,
          &:hover {
            border-color: $hover-color;
          }
        }
        label {
          font-size: 1.2rem;
          position: absolute;
          top: 0;
          left: 0;
          transition: all 0.5s;
        }
        textarea {
          // border: 2px solid white;
          border: 1px solid gray;
          background: $primary-color;
          border-radius: 0.5rem;
          width: 209px;
          color: white;
          padding: 0.5rem;
          font-size: 1rem;
          margin: 2rem;

          &:hover {
            border: 1px solid $hover-color;
          }
        }
      }
    }
    .flex {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
    .additionalInfo {
      flex: 40%;
      // margin: 0 1rem;
      display: flex;
      flex-direction: column;
      // grid-template-columns: 1fr 1fr 1fr 1fr;
      p {
        font-weight: bold;
        margin: 0.5rem 0;
      }
      .tf {
        display: grid;
        grid-template-columns: 1fr 1fr;
        label {
          cursor: pointer;
          &:hover {
            color: $hover-color;
          }
        }
      }
      .cont {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
      }
      #setup {
        display: flex;
      }
      .setupInfo {
        #bases,
        #raids {
          display: flex;
        }
      }
    }
    .improvements {
      display: flex;
      flex-direction: column;
      flex: 60%;
      .flex {
        flex-direction: row;
      }
      p {
        font-weight: bold;
        margin: 1rem 0;
        margin-right: 1rem;
      }
      .inputText {
        margin: 0.25rem 0;
        position: relative;

        label {
          font-size: 1rem;
          position: absolute;
          top: 0;
          left: 0;
          transition: all 0.5s;
        }
      }
      #greedDiv {
        label {
          margin: 0 1rem;
        }
      }
    }
  }
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
}
.inputText {
  margin: 0.25rem 0;
  position: relative;
  input {
    border: none;
    border-bottom: 2px solid gray;
    background: $primary-color;
    margin-top: 2rem;
    padding: 0 0.25rem;
    height: 30px;
    color: white;
    font-size: 1.1rem;
    transition: all 0.3s;
    font-weight: lighter;
    &:focus,
    &:hover {
      border-color: $hover-color;
    }
  }
  label {
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
  }
}

//login

.authContainer {
  border-radius: 25px;
  background: $primary-color;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .row {
    position: relative;
    input {
      border-radius: 0.25rem;
      border: 1px solid gray;
      background: $primary-color;
      margin: 2rem;
      padding: 0 0.25rem;
      height: 30px;
      width: 209px;
      color: white;
      font-size: 1.1rem;
      transition: all 0.3s;
      font-weight: lighter;
      &:focus,
      &:hover {
        border-color: $hover-color;
      }
    }
    label {
      font-size: 1.2rem;
      color: white;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.5s;
    }
    button {
      box-shadow: $shadow;
      font-weight: bold;
      color: $primary-color;
      background: white;
      padding: 0.5rem 2rem;
      margin: 1rem;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      display: flex;
      justify-items: center;
      align-items: center;
      &:hover {
        background: $hover-color;
      }
    }
  }
}

#trades {
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    color: #fff;
    div {
      position: relative;
      i {
        position: absolute;
        left: 10px;
        top: 50%;
        background: #0086b9;
        box-shadow: $shadow;
        color: #fff;
        padding: 0.2rem;
        transform: translateY(-50%);
      }
    }
  }
  .tab-wrapper {
    overflow: hidden;
    height: 0;
    transition: height 0.4s ease;
  }
  table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    font-size: 14px;
    td,
    th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    td {
      overflow: hidden;
      font-size: 12px;
      text-align: center;
    }
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background: #0086b9;
      color: white;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    tbody tr:nth-child(odd) {
      background: #fff;
    }
    tbody tr:hover {
      background-color: #ddd;
    }
    a {
      color: #0086b9;
    }
  }
}
