@import "./utils.scss";
// poprawic dla 1280x1024
$primary-color: #15191c;
$hover-color: #55def1;
$text-color: white;
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Baloo 2", cursive;
}
body {
  min-height: 100vh;
  overflow: visible;
  background: url("../img/img-ly-AK66mYNrbk0-unsplash.jpg") center center/cover no-repeat;
}
button,
i {
  transition: 0.5s all;
}
label{
  &:hover{
    color: $hover-color;
    cursor: pointer;
  }
}
//utils
.checked {
  background: black !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  button {
    color: $hover-color !important;
  }
}
.hide {
  display: none !important;
}

.separator {
  width: 100%;
  height: 2px;
  background: $hover-color;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
nav {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $primary-color;
  h1 {
    color: white;
  }
  ul {
    list-style-type: none;
    display: flex;
    li {
      a {
        font-weight: bold;
        color: $text-color;
        font-size: 1.2rem;
        &:hover {
          color: $hover-color;
        }
      }
    }
  }
}

#pairpicker {
  display: flex;
  justify-content: center;
  margin: 5rem 0;

  .pairsmenu {
    position: fixed;
    left: 0;
    background: $primary-color;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: $text-color;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    justify-items: center;
    ul {
      list-style-type: none;
      li {
        button {
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          font-weight: bold;
          color: $primary-color;
          background: white;
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 0.25rem;
          cursor: pointer;
          &:hover {
            background: $hover-color;
          }
        }
      }
    }
  }

  .alerts {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 5rem;
    color: $text-color;
    border-radius: 25px;
    background: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .addalert {
      display: flex;
      justify-content: space-evenly;
      input {
        border: none;
        border-radius: 0.25rem;
        margin: 0 1rem;
        padding: 0 0.25rem;
      }
      button {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        font-weight: bold;
        color: $primary-color;
        background: white;
        padding: 0.5rem 0.75rem;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        display: flex;
        justify-items: center;
        align-items: center;
        &:hover {
          background: $hover-color;
        }
      }
    }
      .radio-container {
        width: 100%;
        margin-left: 40px;
        label,
        input {
          padding: 0.5rem;
        }
      }

      .table {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .row {
          h3,
          p,
          button {
            padding: 0 1rem;
          }
          margin: 0.5rem 0;
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          border-bottom: 1px solid white;
          button {
            cursor: pointer;
            background: none;
            border: none;
            i {
              font-size: 1.5rem;
              color: white;
              &:hover {
                color: $hover-color;
              }
            }
          }
        }
      }
    }


.alertsfired {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
  right: 0;
  background: $primary-color;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: $text-color;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  justify-items: center;
  .labels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    align-items: stretch;
  }
  ul {
    list-style-type: none;
    li {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
}
// Journal

#container {
  transition: all 0.5s;
  width: 100%;
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  min-height:90vh;
  button {
    border: none;
    background: white;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 50%;
    padding: 0.5rem 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    align-self: center;
    &:hover {
      background: $hover-color;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }
  label,
  p {
    font-size: 1.1rem;
  }
  #addTradeBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15%;
    margin: 1rem 1rem;
    font-weight: bold;
    font-size: 1.1rem;
  }
  #stats,
  #addtrade,
  #settings {
    h1 {
      text-align: center;
    }
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 3rem;
    color: $text-color;
    background: $primary-color;
  }
  #stats,
  #settings {
    position: fixed;
    top: 15vh;
  }
  #stats {
    left: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    .row {
      display: flex;
      width: 100%;
      p {
        padding: 0 1rem;
      }
    }
  }
  #addtrade {
    padding-top: 5rem;
    position: relative;
    width: 50%;
    // min-height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: visible;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    #pair {
      position: absolute;
      top: 1%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 2rem;
      // margin: 1rem 1rem;
    }

    .pairsTabs {
      width: 100px;
      height: 100%;
      position: absolute;
      top: 0;
      left: -100px;
      ul {
        list-style-type: none;
        li {
          &:first-child,
          &:last-child {
            margin: 0;
          }
          background: $primary-color;
          margin: 0.7rem 0;
          padding: 0.95rem 0.25rem;
          // display: flex;
          // justify-content: center;
          // align-items: center;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          button {
            width: 100%;
            height: 100%;
            border: none;
            color: white;
            background: none;
            font-size: 1.1rem;
          }
        }
      }
    }
    .basic {
      display: flex;
      flex-direction: column;
      .row {
        position: relative;
        input {
          border: none;
          border-bottom: 2px solid gray;
          background: $primary-color;
          margin: 2rem;
          padding: 0 0.25rem;
          height: 30px;
          color: white;
          font-size: 1.1rem;
          transition: all 0.3s;
          font-weight: lighter;
          &:focus,
          &:hover {
            border-color: $hover-color;
          }
        }
        label {
          font-size: 1.2rem;
          position: absolute;
          top: 0;
          left: 0;
          transition: all 0.5s;
        }
      }
    }
    .additionalInfo {
      margin: 0 1rem;
      p {
        font-weight: bold;
        margin: 1rem 0;
      }
      .setup,
      .tf {
        display: grid;
        label {
          cursor: pointer;
          &:hover {
            color: $hover-color;
          }
        }
      }
      .setupInfo {
        #bases, #raids {
          #continuationStops, #raidsStops {
            display: grid;
            grid-template-columns: 1fr;
          }
        }
      }
    }
    .improvements {
      p {
        font-weight: bold;
        margin: 1rem 0;
      }
      .missedR {
        position: relative;
        input {
          border: none;
          border-bottom: 2px solid gray;
          background: $primary-color;
          margin: 2rem;
          padding: 0 0.25rem;
          height: 30px;
          color: white;
          font-size: 1.1rem;
          transition: all 0.3s;
          font-weight: lighter;
          &:focus,
          &:hover {
            border-color: $hover-color;
          }
        }
        label {
          font-size: 1.2rem;
          position: absolute;
          top: 0;
          left: 0;
          transition: all 0.5s;
        }
      }
      .inputText {
        margin: 0.25rem 0;
        position: relative;
        input {
          border: none;
          border-bottom: 2px solid gray;
          background: $primary-color;
          margin-top: 2rem;
          padding: 0 0.25rem;
          height: 30px;
          color: white;
          font-size: 1.1rem;
          transition: all 0.3s;
          font-weight: lighter;
          &:focus,
          &:hover {
            border-color: $hover-color;
          }
        }
        label {
          font-size: 1rem;
          position: absolute;
          top: 0;
          left: 0;
          transition: all 0.5s;
        }
      }
    }
  }
  #settings {
    right: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    .row {
      position: relative;
      input {
        border: none;
        border-bottom: 2px solid gray;
        background: $primary-color;
        margin: 2rem;
        padding: 0 0.25rem;
        height: 30px;
        color: white;
        font-size: 1.1rem;
        transition: all 0.3s;
        font-weight: lighter;
        &:focus,
        &:hover {
          border-color: $hover-color;
        }
      }
      label {
        font-size: 1.2rem;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.5s;
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
}
.inputText {
  margin: 0.25rem 0;
  position: relative;
  input {
    border: none;
    border-bottom: 2px solid gray;
    background: $primary-color;
    margin-top: 2rem;
    padding: 0 0.25rem;
    height: 30px;
    color: white;
    font-size: 1.1rem;
    transition: all 0.3s;
    font-weight: lighter;
    &:focus,
    &:hover {
      border-color: $hover-color;
    }
  }
  label {
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
  }
}