@import "./utils.scss";

$primary-color: #15191c;
$hover-color: #55def1;
$text-color: white;
button:focus {
  outline: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Baloo 2", cursive;
  overflow: hidden;
}
body {
  height: 100vh;
  background: url("../img/img-ly-AK66mYNrbk0-unsplash.jpg") center center/cover no-repeat;
}
button,
i {
  transition: 0.5s all;
}
nav {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $primary-color;
  h1 {
    color: white;
  }
  ul {
    list-style-type: none;
    display: flex;
    li {
      a {
        font-weight: bold;
        color: $text-color;
        font-size: 1.2rem;
        &:hover {
          color: $hover-color;
        }
      }
    }
  }
}

#pairpicker {
   
  display: flex;
  justify-content: center;
  margin: 5rem 0;

  .pairsmenu {
    position: fixed;
    left: 0;
    background: $primary-color;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: $text-color;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    justify-items: center;
    ul {
      list-style-type: none;
      li {
        button {
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          font-weight: bold;
          color: $primary-color;
          background: white;
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 0.25rem;
          cursor: pointer;
          &:hover {
            background: $hover-color;
          }
        }
      }
    }
  }

  .alerts {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 5rem;
    color: $text-color;
    border-radius: 25px;
    background: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .addalert {
      display: flex;
      justify-content: space-evenly;
      input{
        border: none;
        border-radius: 0.25rem;
        margin: 0 1rem;
        padding: 0 0.25rem;
      }
      button {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        font-weight: bold;
        color: $primary-color;
        background: white;
        padding: 0.5rem 0.75rem;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        display:flex;
        justify-items: center;
        align-items: center;
        &:hover {
          background: $hover-color;
        }
      }
      
    }

    .table {
      margin: 5rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .row {
        h3,
        p,
        button {
          padding: 0 1rem;
        }
        margin: 0.5rem 0;
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-bottom: 1px solid white;
        button {
          cursor: pointer;
          background: none;
          border: none;
          i {
            font-size: 1.5rem;
            color: white;
            &:hover {
              color: $hover-color;
            }
          }
        }
      }
    }
  }
}

.alertsfired{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
  position: fixed;
  right: 0;
  background: $primary-color;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: $text-color;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  justify-items: center;
  .labels{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
  align-items: stretch;

  }
  ul {
    list-style-type: none;
    li {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}